<a href="https://colab.research.google.com/github/GS1087/ML/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
1+1

2

Syntax refers to thr set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language In simple terms syntax is about the correct arrangements of words and symbols in a code.









Semantics refers to the meaninf or the interpretation of the symbols, characters, and commands in a language. It is aabout what the code is supposed to do when it runs.

In [4]:
## Basics Syntax Rules in Python

## Case sensitivity python is case sensitive

name= "Krish"
Name= "Naik"

print(name)
print(Name)

Krish
Naik

#### Indentation

Indentation in Python is use to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block mst be indented at the same level.

In [8]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age= 32
if age>30:

  print(age)

print(age)

32
32

In [9]:
## This is a single line comment
print("Hello World")

Hello World

In [12]:
## Line Continuation

total= 1+2+3+4+5+6+7+\
4+5+6


print(total)

43

In [13]:
##Multiple statements on a single line

x=5;y=10; z=x+y
print(z)

15

In [ ]:
## Understanding Semantics in Python
# Variable assignment
age= 32 ## age is an integer
name= "Krish" ## name is a string

In [14]:
## Type Inference
type(age)

int

In [15]:
type(name)

str

In [17]:
## Type Indference
Variable= 10
print(type(Variable))
variable ="krish"
print(type (variable))

<class 'int'>
<class 'str'>

In [18]:
age= 32
if age> 30:
  print(age)

32

In [29]:
## Code example of indentation
if True:
    print("Correct Indentation")
    if False:

      print("This ont print")
      print("This will print")

print("Outside the if block")

Correct Indentation
Outside the if block

**Variables**

Vaariables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declareation happens automatically when you assign a value to a variable.

In [31]:
## Declaring And Assgning Variables

age= 32
height= 5.5
name="Shivam"
is_student= True

## Printing the variables

print("Age :", age)
print("Height :", height)
print("Name :", name)

Age : 32
Height : 5.5
Name : Shivam

In [32]:
## Naming Convention
## Variable name should be descriptive
## They must start with letter or an '_' and contains letter,numbers and underscores
## variables names are case sensitive


#valid variable names

first_name = "Shivam"
last_name = "Gawade"

In [34]:
## Invalid variable
#2age = 30

In [35]:
## case sensitivity
name ="Shivam"
Name = "Gawade"


name == Name

False

In [37]:
## Understanding Variables types
## Python is dynamically typed, typee of a variable is determined at runtime
age= 25 #int
height= 5.4 #float
is_student = True #bool

print(type(is_student))

<class 'bool'>

In [38]:
## Type Checking and Conversion

type(height)

float

In [39]:
age ='25'
print(type(int(age)))

<class 'int'>

In [40]:
height = 5.5
type(height)

float

In [41]:
age = 25
print(type(age))

# Type Conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [43]:
age =25
print(type(int(age)))

<class 'int'>

In [44]:
name = "Krish"

In [45]:
height = 5.11
type(height)

float

In [46]:
float(int(height))

5.0

In [47]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var= 10 #int
print(var,type(var))

var= "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [60]:
## input

age= int (input("What is the age"))
print(age, type(age))

What is the age2
2 <class 'int'>

In [83]:
## Simple Calculator

num1 = float(input("Value "))
num2 = float(input("Value "))

print(f"{num1 + num2}, {num1 - num2}, {num1 * num2}, {num1 / num2}")

Value 4
Value 6
10.0, -2.0, 24.0, 0.6666666666666666